.footer{
    width:100%; 
    padding:20px 0; 
    .inner{
       width:1180px; 
       margin:0 auto; 
       text-align: center;
       p{
          font: 14px/1 'Open Sans'; 
          color:#777;
       }      
    }
}