header{
    width: 100%;
    position: relative;
    .top{
        position: relative;
        top: 0;
        width: 100%;
        height: 38px;
        margin: 0 auto;
        background: #fefefc;
        display: flex;
        align-items: center;
        .sns{
            margin-right: auto;
            display:flex;
            justify-content: right;
            align-items: center;
            li{
                margin-right: 12px;
                a{
                    font: 12px/38px 'Open Sans';
                    color: #203850;
                }
            }
        }
        .util{
            margin-left: auto;
            display:flex;
            justify-content: right;
            align-items: center;
            li{
                margin-left: 20px;
                a{
                    font: 10px/38px 'Open Sans';
                    color: #203850;
                }
            }
        }
    }
    .navi{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 120px;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        h1{
            width: 200px;
            text-align: center;
            a{
                font:bold 24px/1 'Open Sans';
                color: #203850;
            }            
        }
        #gnb{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
            text-align: center;
            margin-left: auto;
            li{
                margin-left: 50px;

                a{
                    font:bold 12px/1 'Open Sans';
                    color: #203850;
                }
                
            }
        }
    }

    
    
}
