header{
    width: 100%;
    position: relative;
    .top{
        position: relative;
        top: 0;
        width: 100%;
        height: 20px;
        margin: 0 auto;
        background: #333;
        .util{
            display:flex;
            justify-content: right;
            align-items: center;
            li{
                margin-left: 20px;
                a{
                    font: 12px/20px 'arial';
                    color: #fbf4e4;
                }
            }
        }
    }
    .navi{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 120px;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        h1{
            width: 200px;
            text-align: center;
            font: 16px/1 'arial';
            color: #333;
        }
        #gnb{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            li{
                border: 1px solid #000;

                a{
                    font: 14px/1 'arial';
                    color: #333;
                }
                
            }
        }
    }

    footer{
        position: relative;
        bottom: 0;
    }
    
}

@media screen and (min-width:1179px){
    header{
        .top, .navi{
            padding: 0 100px
        }
    }
    section{
        padding: 0 100px
    }
}