main{
    min-height:600px;
    h1{
       a{
         font: 24px/1 'Open Sans';
         color: #203850;
        }

    }
}



@media screen and (max-width:1179px){
    header{
        .top, .navi{
            padding: 0 100px
        }
    }
    footer,section{
        padding: 0 100px
    }
}

@media screen and (min-width:1180px){
    header{
        .top, .navi{
            padding: 0 100px
        }
    }
    footer,section{
        padding: 0 100px
    }
}

@media screen and (max-width:768px){
    header{
        .top, .navi #gnb{
            display: none;
        }
    }
}