@mixin btnMore(
	$wd: 180px,
	$ht: 60px,
	$fontSize: 14px,
	$fontFamily: "Open Sans",
	$color: #fffffe,
	$alignC: center,
	$bg: #00df70
) {
	display: block;
	width: $wd;
	height: $ht;
	text-align: $alignC;
	font-size: $fontSize;
	line-height: $ht;
	font-family: $fontFamily;
	color: $color;
	background: $bg;
	transition: 1s;
	&:hover {
		transition: 1s;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	}
}
@mixin txtBg() {
	background: linear-gradient(
		to top,
		rgba(0, 223, 112, 0.3) 15px,
		transparent 10px
	);
	display: inline;
	font: bold 22px/1.7 "Open Sans";
	color: #666;
}
@mixin icon() {
	font-size: 30px;
	color: #00df70;
	margin: 20px 0;
}
@mixin inner() {
	width: 1180px;
	margin: 0 auto;
}

@mixin floatingBox() {
	position: absolute;
	background-color: rgba(0, 223, 112, 0.3);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	z-index: 3;
}
