* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ol,
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
table, fieldset{
	border-collapse: collapse;
	border:none;
	th, td{
		border:none;
	}
}


.h{
	position: absolute;
	top: -9999px;
	opacity: 0;
}

