.aboutUs {
	width: 100%;
	> .inner {
		width: 1180px;
		margin: 0 auto;
		text-align: center;
		h1 {
			font: bold 26px/1 "Open Sans";
			color: #6b6b6b;
			margin-bottom: 20px;
			margin-top: 80px;
		}
		h2 {
			font: 14px/1.7 "Open Sans";
			color: #6b6b6b;
			margin-bottom: 40px;
		}
		h3 {
			font: 18px/1.4 "Open Sans";
			color: #6b6b6b;
			letter-spacing: -1px;
		}
		h4 {
			font: 16px/1.4 "Open Sans";
			color: #6b6b6b;
			margin-bottom: 10px;
		}
		p {
			font: 12px/1.7 "Open Sans";
			color: #6b6b6b;
		}
		span {
			font: 10px/1.7 "Open Sans";
			color: #6b6b6b;
		}
		.btnMore {
			@include btnMore();
			margin: 0 auto 100px;
		}
		.aboutBox {
			width: 100%;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 100px 0 200px 0;
			.about1 {
				width: 48%;
				background: url("../img/project3.jpg") no-repeat center/cover;
				height: 400px;
				position: relative;
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
				&:nth-of-type(2) {
					background: url("../img/project2.jpg") no-repeat
						center/cover;
				}
				.txtBox {
					background: #fffffe;
					width: 70%;
					height: 100%;
					padding: 40px;
					position: absolute;
					right: 0;
					&::before {
						display: block;
						content: "";
						width: 40px;
						height: 100%;
						background: #00df70;
						opacity: 0.3;
						position: absolute;
						top: 0;
						left: -40px;
					}
				}
			}
			.box {
				background: #fffffe;
				width: 240px;
				height: 240px;
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
				display: flex;
				justify-content: center;
				flex-direction: column;
				i {
					font-size: 40px;
					color: #00df70;
					margin-bottom: 20px;
				}
			}
			.box2 {
				background: #fffffe;
				width: 240px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				i {
					font-size: 40px;
					color: #00df70;
					margin-bottom: 20px;
				}
				p {
					margin-top: 40px;
					padding-top: 40px;
					border-top: 1px solid #eee;
					font: 14px/1.7 "Open Sans";
					color: #6b6b6b;
				}
			}
			.member {
				text-align: left;
				.photo {
					width: 240px;
					height: 240px;
					position: relative;
					margin-bottom: 20px;
				}
				&:nth-of-type(1) .photo {
					background: url("../img/team2.jpg") no-repeat top/cover;
				}
				&:nth-of-type(2) .photo {
					background: url("../img/team1.jpg") no-repeat top/cover;
				}
				&:nth-of-type(3) .photo {
					background: url("../img/team3.jpg") no-repeat top/cover;
				}
				.sns {
					width: 40px;
					height: 100%;
					background: #00df70;
					position: absolute;
					right: -40px;
					text-align: center;
					ul {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: space-around;
						flex-direction: column;

						li {
							a i {
								color: #fffffe;
							}
						}
					}
				}
			}
		}
	}
}
