.community {
	width: 100%;
	>.inner{
		width: 1180px;
		margin: 0 auto;
		article {
			padding: 40px;
			position: relative;
			width: 70%;
			height: 200px;
			text-align: center;
			padding: 10px;
			transition: 1s;
	
			i {
				@include icon();
				display: block;
			}
			p {
				display: block;
				
			}
			h1 {
				font:bold 14px/1 "Open Sans";
				color: #777;
				margin-top: 10px;
				@include txtBg();
			}
		}
	}
	
}
