.community {
	width: 100%;
	>.inner{
		width: 1180px;
		margin: 0 auto;
		h2 {
			font: bold 24px/50px "Open Sans";
			color: #6b6b6b;
			margin-bottom: 40px;
		}
		ul{
			width: 100%;
			li{
				width: 100%;
				border: 1px solid #6b6b6b;
				margin-bottom: 10px;
				font: 16px/50px "Open Sans";
					color: #6b6b6b;

				span{
					font: 10px/1 "Open Sans";
					color: #6b6b6b;
				}
			}
		}

		
	}
}
	

