.gallery {
	.inner {
		.galleryTab {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 80px;
			li {
				display: inline-block;
				width: 200px;
				padding: 5px 0;
				border-bottom: 1px solid #f3f3f3;
				position: relative;
				text-align: center;
				&.on::after {
					content: "";
					display: block;
					width: 100%;
					height: 5px;
					background: #00df70;
					position: absolute;
					bottom: -5px;
				}
				&.on {
					a {
						font: bold 12px/20px "Open Sans";
						color: #6b6b6b;
						text-align: center;
					}
				}
				a {
					font: 12px/20px "Open Sans";
					color: #6b6b6b;
					text-align: center;
				}
			}
		}
		.swiper {
			height: 100%;
			padding: 100px 0px;
			.swiper-slide {
				img {
					height: 100%;
				}
			}
			.swiper-button-prev {
				color: #6b6b6b;
			}
			.swiper-pagination-bullet-active {
				background-color: #00df70;
			}
			.swiper-slide {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 5vw;
				color: #fff;
			}
		}
		> section {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			transition: 1s;
			margin-top: 80px;
			article {
				margin-bottom: 20px;
				&:nth-of-type(even) {
					margin-left: 20px;
					margin-right: 20px;
				}
				position: relative;
				width: 300px;
				height: 300px;
				transition: 1s;

				> .inner {
					width: 100%;
					height: 100%;
					background: #fff;

					.pic {
						width: 100%;
						height: 100%;
						transition: 1s;
						position: relative;
						transition: 1s;
						filter: grayscale(1);
						&:hover {
							transition: 1s;
							filter: grayscale(0);

							&::before {
								content: attr(data-split);
								display: block;
								width: 50%;
								height: 100%;
								background: rgba(0, 223, 112, 0.3);
								position: absolute;
								top: 0;
								left: 0;
								transition: 1s;
								filter: grayscale(0);
							}
							& a {
								display: block;
								transform: scale(1.3) translateX(-10px)
									translateY(0);
								transition: 1s;
								opacity: 1;
							}
						}
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							transition: 1s;
						}
						a {
							color: #00df70;
							display: block;
							width: 30px;
							height: 30px;
							font-size: 10px;
							line-height: 20px;
							text-align: center;
							background: #fffffe;
							border-radius: 50%;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translateX(-50%);
							font-size: 16px;
							line-height: 30px;
							opacity: 0;
							cursor: pointer;
						}
					}
				}
			}
		}
	}

	.pop {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0px;
		left: 0px;
		background: rgba(0, 0, 0, 0.9);
		padding: 5vw;

		img {
			width: 100%;
			height: 95%;
			object-fit: contain;
			margin-bottom: 15px;
		}
		p {
			font: 14px/1.2 "arial";
			color: #fff;
			text-align: center;
		}

		span {
			font: bold 14px/1 "arial";
			color: #fff;
			position: absolute;
			top: 3vw;
			right: 5vw;
			cursor: pointer;
		}
	}
}
