@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ol,
ul,
li {
  list-style: none; }

a {
  text-decoration: none; }

header {
  width: 100%;
  background: #00df70; }
  header .top {
    position: relative;
    top: 0;
    width: 100%;
    height: 28px;
    margin: 0 auto;
    background: #fefefc;
    display: flex;
    align-items: center; }
    header .top > .inner {
      width: 100%;
      padding: 5%; }
    header .top .sns {
      margin-right: auto;
      display: flex;
      justify-content: right;
      align-items: center; }
      header .top .sns li {
        margin-right: 12px; }
        header .top .sns li a {
          font: 12px/28px "Open Sans";
          color: #393834; }
    header .top .util {
      margin-left: auto;
      display: flex;
      justify-content: right;
      align-items: center; }
      header .top .util li {
        margin-left: 20px; }
        header .top .util li a {
          font: 10px/38px "Open Sans";
          color: #203850; }
  header .inner {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left; }
    header .inner > h1 {
      width: 20%;
      font-size: 0;
      background: #fffffe;
      margin-right: 100px; }
      header .inner > h1 a {
        display: block;
        text-align: center;
        font: bold 30px/80px "Open Sans";
        color: #00df70; }
    header .inner .menuWeb {
      width: 70%; }
      header .inner .menuWeb #gnb {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        header .inner .menuWeb #gnb li a {
          display: block;
          font: bold 14px/80px "Open Sans";
          color: #fffffe; }
    header .inner .btnCall {
      display: none;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%); }
      header .inner .btnCall::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #393834;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      header .inner .btnCall::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #393834;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      header .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #393834;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 0;
        text-indent: -9999px;
        transition: 0.5s; }
      header .inner .btnCall.on::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg); }
      header .inner .btnCall.on::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg); }
      header .inner .btnCall.on span {
        transform: translateX(100%);
        opacity: 0; }
    header .inner .menuMo {
      position: fixed;
      top: 0;
      left: -270px;
      width: 270px;
      height: 100vh;
      background: #fafafa;
      transition: 0.5s;
      z-index: 10;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); }
      header .inner .menuMo h1 {
        padding: 25px 20px 26px 20px; }
        header .inner .menuMo h1 a {
          display: block;
          font: bold 24px/1 "Open Sans";
          color: #393834; }
        header .inner .menuMo h1 span {
          display: block;
          font-size: 12px;
          color: #aaa; }
      header .inner .menuMo .moMenuList {
        position: relative; }
        header .inner .menuMo .moMenuList .login {
          width: 100%;
          background: rgba(0, 0, 0, 0.07);
          display: flex;
          align-items: center;
          border-top: 1px solid #bbb;
          padding: 25px 20px; }
          header .inner .menuMo .moMenuList .login > a {
            display: block;
            width: 50px;
            height: 50px;
            background: #c6aa92;
            color: #fafafa;
            text-align: center;
            border-radius: 50%;
            font: 25px/50px "Open Sans";
            margin-right: 20px; }
          header .inner .menuMo .moMenuList .login .utilMo {
            display: flex;
            align-items: center;
            justify-content: space-between; }
            header .inner .menuMo .moMenuList .login .utilMo li {
              display: inline-block; }
              header .inner .menuMo .moMenuList .login .utilMo li a {
                display: block;
                font: 16px/1 "Open Sans";
                color: #aaa; }
              header .inner .menuMo .moMenuList .login .utilMo li:nth-of-type(1) {
                position: relative;
                width: 70px; }
                header .inner .menuMo .moMenuList .login .utilMo li:nth-of-type(1)::after {
                  content: "|";
                  display: block;
                  font: 16px/1 "Open Sans";
                  color: #aaa;
                  position: absolute;
                  top: 0;
                  right: 12px; }
        header .inner .menuMo .moMenuList #gnbMo li:last-child a {
          border-bottom: 1px solid #bbb; }
        header .inner .menuMo .moMenuList #gnbMo li a {
          display: block;
          width: 100%;
          padding: 16px 0px;
          border-top: 1px solid #bbb;
          font: 14px/1 "Open Sans";
          color: #aaa;
          text-align: center; }
        header .inner .menuMo .moMenuList #gnbMo li:hover a {
          color: #c6aa92;
          background: rgba(0, 0, 0, 0.03); }
        header .inner .menuMo .moMenuList .csMo {
          display: flex;
          align-items: center; }
          header .inner .menuMo .moMenuList .csMo li:last-child a {
            border-right: none; }
          header .inner .menuMo .moMenuList .csMo li a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 80px;
            font: 14px/1 "Open Sans";
            color: #aaa;
            text-align: center;
            border-right: 1px solid #bbb;
            border-bottom: 1px solid #bbb; }
            header .inner .menuMo .moMenuList .csMo li a i {
              font-size: 25px;
              margin-bottom: 8px; }
          header .inner .menuMo .moMenuList .csMo li:hover a {
            color: #c6aa92;
            background: rgba(0, 0, 0, 0.03); }
      header .inner .menuMo.on {
        left: 0px; }
      header .inner .menuMo .follow {
        width: 270px;
        margin-top: 40px; }
        header .inner .menuMo .follow h3 {
          font: bold 14px/1 "Open Sans";
          color: #888;
          text-align: center;
          margin-bottom: 20px; }
        header .inner .menuMo .follow .snsMo {
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: space-around; }
          header .inner .menuMo .follow .snsMo li a {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            font: bold 20px/50px "Open Sans";
            color: #fafafa;
            text-align: center;
            background: rgba(0, 0, 0, 0.3); }

footer {
  width: 100%;
  padding: 20px 0; }
  footer .inner {
    width: 1180px;
    margin: 0 auto;
    text-align: center; }
    footer .inner p {
      font: 14px/1 "Open Sans";
      color: #777; }

.content {
  min-height: 800px; }
  .content .subTitle {
    width: 100%;
    height: 200px;
    background: url("../img/subBg.jpeg") no-repeat top/cover;
    padding: 100px 0;
    position: relative;
    margin-bottom: 80px; }
    .content .subTitle .inner {
      width: 1180px;
      margin: 0 auto; }
      .content .subTitle .inner h1 a {
        background: linear-gradient(to top, rgba(0, 223, 112, 0.3) 15px, transparent 10px);
        display: inline;
        font: bold 22px/1.7 "Open Sans";
        color: #666; }

@media screen and (min-width: 1179px) {
  header .inner {
    padding-right: 340px; }

  .visual .imgBox {
    margin-left: -340px; } }
@media screen and (max-width: 1179px) {
  header .inner {
    padding-right: 340px; }

  .visual .imgBox {
    margin-left: -340px; } }
.visual {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
  background: #00df70;
  transition: 1s; }
  .visual .on.imgBox {
    transform: translateX(0%); }
  .visual .on.imgBtns {
    opacity: 1; }
  .visual .on.floatingBox {
    transform: scaleY(100%); }
  .visual .imgBox {
    width: 100%;
    height: 100%;
    background: url(../img/visual1.jpg) no-repeat center/cover;
    position: absolute;
    left: 0;
    z-index: 1;
    filter: grayscale(100%);
    transition: 2s;
    transform: translateX(-100%); }
  .visual .imgBtns {
    transition: 2s;
    opacity: 0; }
    .visual .imgBtns .btns {
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      top: 50%;
      left: 5%;
      background: #00df70;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      text-align: center;
      color: #fffffe;
      line-height: 30px;
      cursor: pointer;
      z-index: 5; }
      .visual .imgBtns .btns.btnMinus {
        top: calc(50% - 60px); }
  .visual .floatingBox {
    position: absolute;
    background-color: rgba(0, 223, 112, 0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
    top: 50%;
    right: 30px;
    transition: 2s;
    transform: translateX(-10%) translateY(-50%) scaleX(0);
    width: 500px;
    height: 280px; }
    .visual .floatingBox .btnMore {
      display: block;
      width: 180px;
      height: 60px;
      text-align: center;
      font-size: 14px;
      line-height: 60px;
      font-family: "Open Sans";
      color: #fffffe;
      background: #00df70;
      transition: 1s;
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%); }
      .visual .floatingBox .btnMore:hover {
        transition: 1s;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }
    .visual .floatingBox .txtBox {
      position: absolute;
      top: 0;
      right: 0;
      width: 400px;
      height: 100%;
      background: #fffffe; }
      .visual .floatingBox .txtBox .txt {
        width: 80%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%); }
        .visual .floatingBox .txtBox .txt h1 {
          background: linear-gradient(to top, rgba(0, 223, 112, 0.3) 15px, transparent 10px);
          display: inline;
          font: bold 22px/1.7 "Open Sans";
          color: #666; }
        .visual .floatingBox .txtBox .txt p {
          font: 14px/1.4 "Open Sans";
          color: #ccc;
          margin-top: 30px; }
  .visual .sns {
    position: absolute;
    bottom: 5%;
    right: 5%; }
    .visual .sns ul {
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .visual .sns ul li a {
        color: #fffffe;
        font-size: 20px; }

.our {
  width: 100%;
  padding: 100px 0; }
  .our .inner {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .our .inner article {
      position: relative;
      width: 300px;
      text-align: center;
      padding: 10px;
      transition: 1s; }
      .our .inner article:hover {
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.03);
        cursor: pointer;
        transition: 1s; }
      .our .inner article:nth-of-type(1) {
        box-shadow: none;
        text-align: left;
        padding: none; }
        .our .inner article:nth-of-type(1) > p {
          font: 16px/1.2 "Open Sans";
          color: #bfbfbf;
          margin: 20px 0 40px; }
      .our .inner article h2 {
        font: bold 24px/1 "Open Sans";
        color: #777777;
        background: linear-gradient(to top, rgba(0, 223, 112, 0.3) 15px, transparent 10px);
        display: inline;
        font: bold 22px/1.7 "Open Sans";
        color: #666; }
      .our .inner article h3 {
        font: bold 16px/1 "Open Sans";
        color: #777777; }
      .our .inner article > i {
        font-size: 30px;
        color: #00df70;
        margin: 20px 0; }
      .our .inner article p {
        font: 12px/1.4 "Open Sans";
        color: #bfbfbf;
        margin: 20px 0 40px; }
      .our .inner article .btnMore {
        display: block;
        width: 180px;
        height: 60px;
        text-align: center;
        font-size: 14px;
        line-height: 60px;
        font-family: "Open Sans";
        color: #fffffe;
        background: #00df70;
        transition: 1s; }
        .our .inner article .btnMore:hover {
          transition: 1s;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }

.about {
  width: 100%;
  height: 80vh;
  position: relative; }
  .about .imgBox {
    width: 60vw;
    height: 100%;
    background: url(../img/aboutBg.jpg) no-repeat center/cover;
    filter: grayscale(70%);
    position: absolute;
    top: 0;
    left: 0; }
  .about .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    .about .inner .floatingBox {
      position: absolute;
      top: 20vh;
      right: 0;
      width: 30vw;
      height: 40vh;
      background-color: rgba(0, 223, 112, 0.3);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      z-index: 3; }
      .about .inner .floatingBox .txtBox {
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        background: #fffffe;
        padding: 40px 60px;
        vertical-align: middle; }
        .about .inner .floatingBox .txtBox h1 {
          font: bold 30px/1.4 "Open Sans";
          margin-bottom: 10px;
          color: #272343;
          background: linear-gradient(to top, rgba(0, 223, 112, 0.3) 15px, transparent 10px);
          display: inline;
          font: bold 22px/1.7 "Open Sans";
          color: #666; }
        .about .inner .floatingBox .txtBox h2 {
          font: bold 14px/1.2 "Open Sans";
          color: #ccc;
          margin: 10px 0; }
        .about .inner .floatingBox .txtBox p {
          font: 14px/1.4 "Open Sans";
          color: #ccc;
          flex-wrap: wrap;
          margin-bottom: 20px; }
        .about .inner .floatingBox .txtBox .btnMore {
          display: block;
          width: 180px;
          height: 60px;
          text-align: center;
          font-size: 14px;
          line-height: 60px;
          font-family: "Open Sans";
          color: #fffffe;
          background: #00df70;
          transition: 1s; }
          .about .inner .floatingBox .txtBox .btnMore:hover {
            transition: 1s;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }

.contact {
  width: 100%;
  padding: 100px 0; }
  .contact .inner {
    width: 1180px;
    margin: 0 auto; }
    .contact .inner h1 {
      background: linear-gradient(to top, rgba(0, 223, 112, 0.3) 15px, transparent 10px);
      display: inline;
      font: bold 22px/1.7 "Open Sans";
      color: #666; }
    .contact .inner .wrap {
      width: 100%;
      display: flex;
      align-items: top;
      justify-content: space-between;
      margin-top: 40px; }
      .contact .inner .wrap article {
        width: 20vw;
        transition: 1s; }
        .contact .inner .wrap article ul li {
          margin-bottom: 40px;
          line-height: 0; }
          .contact .inner .wrap article ul li a {
            font: 14px/1 "Open Sans";
            color: #777; }
        .contact .inner .wrap article:nth-of-type(1) ul {
          width: 100%; }
          .contact .inner .wrap article:nth-of-type(1) ul li {
            margin-bottom: 40px;
            font: 14px/1 "Open Sans";
            color: #777; }
            .contact .inner .wrap article:nth-of-type(1) ul li:last-child {
              margin-bottom: 0; }
              .contact .inner .wrap article:nth-of-type(1) ul li:last-child .sns {
                width: 100%; }
                .contact .inner .wrap article:nth-of-type(1) ul li:last-child .sns ul {
                  display: flex;
                  justify-content: left; }
                  .contact .inner .wrap article:nth-of-type(1) ul li:last-child .sns ul li {
                    margin-right: 20px;
                    margin-bottom: 0; }
                    .contact .inner .wrap article:nth-of-type(1) ul li:last-child .sns ul li a {
                      display: block;
                      width: 30px;
                      height: 30px;
                      border-radius: 50%;
                      background: #00df70;
                      text-align: center; }
                      .contact .inner .wrap article:nth-of-type(1) ul li:last-child .sns ul li a i {
                        font-size: 16px;
                        line-height: 30px;
                        color: #fff; }
        .contact .inner .wrap article:last-child span {
          display: block;
          margin-bottom: 20px;
          font: 14px/1 "Open Sans";
          color: #777;
          text-align: right; }
        .contact .inner .wrap article:last-child address {
          margin-bottom: 40px;
          font: 14px/1 "Open Sans";
          color: #777;
          text-align: right; }
        .contact .inner .wrap article:last-child .btns {
          display: flex;
          justify-content: right;
          align-items: center; }
          .contact .inner .wrap article:last-child .btns .btnMore {
            display: block;
            width: 180px;
            height: 60px;
            text-align: center;
            font-size: 14px;
            line-height: 60px;
            font-family: "Open Sans";
            color: #fffffe;
            background: #00df70;
            transition: 1s; }
            .contact .inner .wrap article:last-child .btns .btnMore:hover {
              transition: 1s;
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }
          .contact .inner .wrap article:last-child .btns .btnUp {
            display: block;
            width: 60px;
            height: 60px;
            text-align: center;
            font-size: 14px;
            line-height: 60px;
            font-family: "Open Sans";
            color: #fffffe;
            background: #00df70;
            transition: 1s;
            margin-left: 20px; }
            .contact .inner .wrap article:last-child .btns .btnUp:hover {
              transition: 1s;
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }

.count {
  width: 100%;
  padding: 100px 0; }
  .count .inner {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .count .inner article {
      position: relative;
      width: 300px;
      text-align: center;
      padding: 10px;
      transition: 1s;
      text-align: center; }
      .count .inner article:hover {
        cursor: pointer;
        transition: 1s; }
      .count .inner article i {
        font-size: 30px;
        color: #00df70;
        margin: 20px 0;
        display: block; }
      .count .inner article span {
        display: block;
        background: linear-gradient(to top, rgba(0, 223, 112, 0.3) 15px, transparent 10px);
        display: inline;
        font: bold 22px/1.7 "Open Sans";
        color: #666; }
      .count .inner article h2 {
        font: 14px/1 "Open Sans";
        color: #777;
        margin-top: 10px; }

.aboutUs {
  width: 100%; }
  .aboutUs > .inner {
    width: 1180px;
    margin: 0 auto;
    text-align: center; }
    .aboutUs > .inner h1 {
      font: bold 26px/1 "Open Sans";
      color: #6b6b6b;
      margin-bottom: 20px; }
    .aboutUs > .inner h2 {
      font: 14px/1.7 "Open Sans";
      color: #6b6b6b;
      margin-bottom: 40px; }
    .aboutUs > .inner h3 {
      font: 18px/1.4 "Open Sans";
      color: #6b6b6b;
      letter-spacing: -1px; }
    .aboutUs > .inner h4 {
      font: 16px/1.4 "Open Sans";
      color: #6b6b6b;
      margin-bottom: 10px; }
    .aboutUs > .inner p {
      font: 12px/1.7 "Open Sans";
      color: #6b6b6b; }
    .aboutUs > .inner span {
      font: 10px/1.7 "Open Sans";
      color: #6b6b6b; }
    .aboutUs > .inner .aboutBox {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 100px; }
      .aboutUs > .inner .aboutBox .about1 {
        width: 50%;
        background: url("../img/project4.jpg") no-repeat center/cover;
        backdrop-filter: grayscale(100%);
        height: 400px;
        position: relative;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); }
        .aboutUs > .inner .aboutBox .about1 .txtBox {
          background: #fffffe;
          width: 70%;
          height: 100%;
          padding: 40px;
          position: absolute;
          right: 0; }
          .aboutUs > .inner .aboutBox .about1 .txtBox::before {
            display: block;
            content: "";
            width: 40px;
            height: 100%;
            background: #00df70;
            opacity: 0.3;
            position: absolute;
            top: 0;
            left: -40px; }
      .aboutUs > .inner .aboutBox .box {
        background: #fffffe;
        width: 240px;
        height: 240px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        flex-direction: column; }
        .aboutUs > .inner .aboutBox .box i {
          font-size: 40px;
          color: #00df70;
          margin-bottom: 20px; }
      .aboutUs > .inner .aboutBox .member {
        text-align: left; }
        .aboutUs > .inner .aboutBox .member .photo {
          width: 240px;
          height: 240px;
          position: relative;
          margin-bottom: 20px; }
        .aboutUs > .inner .aboutBox .member:nth-of-type(1) .photo {
          background: url("../img/team2.jpg") no-repeat top/cover; }
        .aboutUs > .inner .aboutBox .member:nth-of-type(2) .photo {
          background: url("../img/team1.jpg") no-repeat top/cover; }
        .aboutUs > .inner .aboutBox .member:nth-of-type(3) .photo {
          background: url("../img/team3.jpg") no-repeat top/cover; }
        .aboutUs > .inner .aboutBox .member .sns {
          width: 40px;
          height: 100%;
          background: #00df70;
          position: absolute;
          right: -40px;
          text-align: center; }
          .aboutUs > .inner .aboutBox .member .sns ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: column; }
            .aboutUs > .inner .aboutBox .member .sns ul li a i {
              color: #fffffe; }

.project {
  width: 100%; }
  .project article {
    width: 100%;
    height: 200px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center; }
    .project article section {
      font: 12px/1 "Open Sans"; }

.conInner {
  width: 1180px;
  margin: 0 auto; }
  .conInner .galleryTab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px; }
    .conInner .galleryTab li {
      display: inline-block;
      width: 200px;
      padding: 5px 0;
      border-bottom: 1px solid #f3f3f3;
      position: relative;
      text-align: center; }
      .conInner .galleryTab li.on::after {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background: #00df70;
        position: absolute;
        bottom: -5px; }
      .conInner .galleryTab li.on a {
        font: bold 12px/20px 'Open Sans';
        color: #6b6b6b;
        text-align: center; }
      .conInner .galleryTab li a {
        font: 12px/20px 'Open Sans';
        color: #6b6b6b;
        text-align: center; }
  .conInner .listBox {
    position: relative; }
    .conInner .listBox ul {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .conInner .listBox ul li {
        width: 20%;
        height: 200px; }
        .conInner .listBox ul li .pic {
          width: 100%;
          height: 100%; }
          .conInner .listBox ul li .pic img {
            width: 100%;
            height: 100%;
            object-fit: cover; }

/*# sourceMappingURL=style.css.map */
