@charset "UTF-8";

$web : 1199px;
$tablet : 739px;
$mobile : 539px;

//common style
@import "common/reset";
@import "common/mixin";
@import "common/header";
@import "common/footer";



//main style
@import "main/btns";
@import "main/visual";
@import "main/our";
@import "main/about";
@import "main/contact";
@import "main/count";
@import "main/news";

//sub page style
@import "sub/aboutUs";
@import "sub/community";
@import "sub/gallery";
@import "sub/youtube";
@import "sub/location";
@import "sub/join";
@import "sub/login";

// 'Open Sans'
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");

@import "common/layout";
